{% load static %}
<!DOCTYPE html>
<html lang="ru"/>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'auth.css' %}" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <script src="{% static 'js/jquery-3.6.1.min.js' %}" defer></script>
        <script src="{% static 'js/threeBack.js' %}" defer></script>
        <title>Login</title>
    </head>
    <body>
        <div class="rain front-row"></div>
        <div class="rain back-row"></div>
        <div class="waveWrapper waveAnimation">
            <div class="waveWrapperInner bgTop">
                <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
            </div>
            <div class="waveWrapperInner bgMiddle">
                <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
                <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
            </div>
        </div>
        <section class="mainForm">
            <h1>Sign In</h1>
            <form class="form" id="login" action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <label for="username">Username</label>
                {{form.username}}
                <label for="password">Password</label>
                {{form.password}}
                <button class="formBtn" type="submit">Log In</button>
            </form>
        </section>
    </body>
</html>